<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<style>
    th{ 
        color:#fff;
            }
</style>


<table class="table table-striped">
    <tr  class="bg-info">
		<th>Symbol</th>
		<th>PriceBinance</th>
        <th>PriceBithumb</th>
		<th>PriceCoinbit</th>
		<th>PriceUpbit</th>
        
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = []
	

	$.ajax({
		method:'GET',
        url:'http://127.0.0.1:5000/test.json',
		success:function(response){
			myArray = response
			buildTable(myArray)
			console.log(myArray)
		}
	})


	

	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i <data.length; i++){
			var row = `<tr>
							<td>${data[i].symbol}</td>
							<td>${data[i].price2}</td>
							<td>${data[i].price}</td>
							<td>${data[i].price3}</td>
							<td>&#36;${data[i].price4*0.00089}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>